.container {
    display: inline-block;
    padding: 30px 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    margin-left: 200px;
    transition: 1s;
}
.animation {
    opacity: 1;
    margin-left: 0;
    transition: 1s;
}