.select_chat {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9edef;
}
.info_text {
    text-align: center;
    direction: rtl;
}