.container {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    padding: 10px 20px;
}
div.input {
    width: 100%;
    background-color: white;
    margin-right: 20px;
    border-radius: 8px;
    padding: 10px;
}