.container {
    width: 35%;
    height: 100%;
    text-align: center;
}
.user_text {
    background-color: #f0f2f5;
    padding: 18px 0;
}
.user_wrapper {
    overflow-y: scroll;
    height: calc(100% - 61px);
}
.persons {
    display: flex;
    align-items: center;
    padding: 20px 20px 10px;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    cursor: pointer;
}
.left_side {
    position: relative;
} 

.icon {
    width: 50px !important;
    height: 50px !important;
    margin-right: 15px;

    &_on_line {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        bottom: 10px;
        right: 15px;
        background-color: gray;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        &_inner {
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
    }
}
