.container {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 8px;
    text-align: center;
    margin-left: 200px;
    opacity: 0;
    transition: 1s;
}
.animation {
    opacity: 1;
    margin-left: 0;
    transition: 1s;
}
button.btn {
    background-color: #0095f6;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}
.loader {
    height: 36.5px;
    margin-bottom: 20px;
}
.login_text {
    display: inline-block;
    border-bottom: 1px solid;
    cursor: pointer;
}