.container {
    height: 100%;
    background-image: url(/auth-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    opacity: 0;
    margin-left: 200px;
    transition: 1s;

    &_animation {
        opacity: 1;
        margin-left: 0;
        transition: 1s;
    }
}